
@media only screen and (max-width: 600px) {
    .phone-item{
        display: block;
    }
    .laptop-item{
        display: none;
    }
    
    .yellow-button,
    .black-button{
        font-size: 2vmax;
        padding: 1.3vmax 0;
    }


    /* ================================================================================ */
    
    .navbar .web-logo{
        padding-left: 10px;
    }
    .navbar .web-logo img{
        width: 10vmax;
    }
    .menu-btn{
        font-size: 5vmax;
    }
    
    /* =============================================================================== */

    .home-swiper-cir-fill{
        width: 50vmax;
        height: 50vmax;
        top: 30%;
        left: 0%;
    }
    .home-swiper-cir-img{
        width: 45vmax;
        height: 45vmax;
    }
    
    .outer-circle-swiper{
        width:65vmax;
        height: 60vmax;
        top: 30%;
        left: 5%;
    }
    
    .outer-circle-swiper .item-2{
        width: 10vmax;
        height: 10vmax;
    }
    .outer-circle-swiper .item-3{
        width: 15vmax;
        height: 15vmax;
    }
    
    .outer-circle-swiper .item-4{
        width: 10vmax;
        height: 10vmax;
    }
    
    .home-sec-1-overlay{
        top: 3%;
        left: 0%;
        transform: translate(0%,0%);
        height: fit-content;
        width: 100%;
        align-items:center;
        justify-content: flex-start;
        gap: 0px;
        text-align: center;  
    }
    
    .home-sec-1-overlay button{
        display: none;
    }
    .home-sec-1-overlay h1{
        width: 100%;
        font-size: 7vmax;
    }

    .home-bg-img-overlay{
        top: 17%;
        left: 83%;
    }


    /* ================================================================================================= */
    /* ================================================================================================= */
    .hot-deserts{
        /* min-height: 90vh; */
        min-height: 50vh;
    }  
    .text{
        top: 90%;
        transform: translate(-50%,-50%) rotate(-10deg);
    }

    
    /* ================================================================================================= */
    /* ================================================================================================= */
    
    .home-sec-3{
        flex-direction: column;
        padding-top: 60px;
    }
    .home-sec-3-right{
        padding: 15px;
    }

    /* ================================================================================================= */
    /* ================================================================================================= */

    .explore-top h1{
        font-size: 4.2vmax;
    }
    .explore-top h5{
        font-size: 2vmax;
    }
    .explore-bottom{
      height: fit-content;
      display: grid;
      gap: 0;
    }
    
    .exp-menu-item-photo-outer{
      width: 25vmax;
      height: 25vmax;
      border: .2vmax solid lightgray;
    }
    .exp-menu-item-text{
      padding: 20px 0;
    }
    .explore-menu-item:hover .exp-menu-item-photo-outer,
    .explore-menu-item:hover .exp-menu-item-photo-inner{
      border: .4vmax solid var(--yellow-color);
    }


    /* ================================================================================================= */
    /* ================================================================================================= */
    
    .popular-top h1{
        font-size: 4.2vmax;
    }
    .popular-top h5{
        font-size: 2vmax;
    }
    .popular-bottom{
        padding-top: 20px;
    }
    
    /* ================================================================================================= */
    /* ================================================================================================= */
    
    .home-sec-5-user-review{
      min-height: 130vh;
    }
    .review-top h1{
      font-size: 4vmax;
    }
    .review-top h5{
      font-size: 2vmax;
    }
    .review-bottom{
      flex-direction: column;
    }
    .review-left img{
      width: 100%;
    }
    .review-user-pic{
      width: 80px;
      height: 80px; 
    }

    /* ================================================================================== */
    /* ================================================================================== */
    /* ================================================================================== */

    
   
    footer .footer-top{
        display:grid;
        grid-template-columns: 50% 50%;
        row-gap: 20px;
    }
    
    footer .box{
        flex:0;
        margin-right:0;
    }
    
    .box-1{
        grid-column: 1/-1;
    }
    .box-4{
        grid-column: 1/-1;
        grid-column: 1/3;
    }
   
    
  
}



@media screen and (max-width: 1100px) {
    .hot-des-container{
        grid-template-columns: repeat(auto-fit , minmax(250px , 1fr));
    }

    .popular-middle{
        height:fit-content;
        grid-template-columns: repeat(auto-fit ,minmax(250px , 1fr));
        grid-template-rows: 350px;
        grid-gap: 30px;
      }
    
}